body{

    background-image: url('../img/img1.png');
    background-size:cover;
    background-color: black;
    background-attachment: fixed;
   
}
h1{
    color: yellow;  
    font-size: 60px;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 5px;
     font-family: 'Josefin Sans', sans-serif;
    text-shadow:5px  10px 10px  red; 
}

h2{
    color:yellow;
        font-size: x-large;
    padding: 20px;

}

header{
border: solid 4px;
padding: 50px;
box-shadow: 5px  10px 10px  red;



}
nav {
text-align: center;
 padding-top: 50px;
 margin-bottom: -20px;
  
}
.navlist {
    border: 1px solid;
    border-color: red;
    display: inline;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 5px  10px 10px  red;
    

    
}
header a{
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
    font-size: small;

}

footer a{
    color: #19E6C9;
    text-decoration: none;
    

}

a:hover{
color: greenyellow;
}
main {
    
    padding-bottom:50px;
    border: solid 4px;
    
}

p{
    color:#19E6C9;
    padding-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding-bottom: 10px;
    
}

section{
    padding: 50px;
    width: 80%;
    border :solid 3px;
    margin: 5% auto;
    box-shadow: 5px 10px 10px 10px  red;
    border-radius: 50px;
    background-color: rgba(5, 0, 0, 0.466);
}
footer
{
    
    padding-top: 20px ;
padding-left: 20px;
padding-bottom: 30px;
    border :solid 3px;
    box-shadow: 5px 10px 10px 10px  red;
  
}
ol {
    padding-top: 10px;
    padding-left: 50px;
    
}
ol li {
    color:#19E6C9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    list-style-type: decimal;
    padding-bottom: 10px;
}

#listBottom{
   margin-top: 50px; 
}

ul {
    padding-top: 10px;
    color: white;
}

ul li {
    list-style-type: circle;
    padding-bottom: 10px;
}

#msg{
    position: fixed;
    bottom :10px;
    right: 20px;

   
height: 50px;
width: 50px;
}